.preview {
  background-color: #fff;
  padding: 8px 8px 0 8px;
  margin: 2px;
  height: calc(100% - 2px);
}

.previewTitle {
  font-size: 1.2em;
  margin-bottom: 0;
}

.tag {
  text-decoration: none;
  display: inline-block;
  padding: 0.33333rem;
  line-height: 1;
  border-radius: 2px;
  margin-right: 0.5em;
}
